<nav class="nav-extended">
    <div class="nav-wrapper pink">
        <a class="waves-effect waves-light btn-large blue"><i class="material-icons left">add</i>Add product</a>
        <a class="waves-effect waves-light btn-large blue"><i class="material-icons left">mode_edit</i>Edit product</a>
        <a class="waves-effect waves-light btn-large blue"><i class="material-icons left">delete</i>Delete product</a>

        <a class="waves-effect waves-light btn-large " style="clear: both;float:right;"><i class="material-icons right">replay</i>Reload</a>
    </div>
</nav>