<div class="card-detail">
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">

      </div>
      <div class="card-stacked">
        <div class="card-content">
          <a class="waves-effect waves-light btn" (click)="showPopupAddUser()"><i class="material-icons left">add</i>{{ 'BUTTON.ADD_USER' | translate }}</a>
          <a class="waves-effect waves-light btn" [ngClass]="{ disabled: !currentUser.id }" (click)="showPopupEditUser()"><i class="material-icons left">mode_edit</i>{{ 'BUTTON.EDIT_USER' | translate }}</a>
          <a class="waves-effect waves-light btn" [ngClass]="{ disabled: !currentUser.id }" (click)="showPopupDeleteUser()"><i class="material-icons left">delete</i>{{ 'BUTTON.DELETE_USER' | translate }}</a>


          <!-- Switch -->
          <div class="switch right">
            <label> 
              {{ 'LABEL.USERS_SETTINGS' | translate }}
                <input type="checkbox" (click)="toogleActivePage()">
                <span class="lever"></span>
              {{ 'LABEL.WAREHOUSES_SETTINGS' | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popup">
  <popup #popupAddUser (confirmClick)="addUser()">
    <form class="form-horizontal">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="firstName" type="text" class="validate" name="firstName" [(ngModel)]="currentUser.firstname" />
          <label for="firstName">{{ 'LABEL.FIRST_NAME' | translate }}: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input id="lastname" type="text" class="validate" name="lastname" [(ngModel)]="currentUser.lastname" />
          <label for="lastname">{{ 'LABEL.LAST_NAME' | translate }}: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate" name="username" [(ngModel)]="currentUser.username" />
          <label for="username">{{ 'LABEL.LOGIN' | translate }}: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input class="with-gap" name="role" type="radio" id="admin" />
          <label for="admin">Адміністратор</label>
          <input class="with-gap" name="role" type="radio" id="user" checked/>
          <label for="user">Користувач</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="currentUser.email" />
          <label for="email" data-error="Invalid email">{{ 'LABEL.EMAIL' | translate }}</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate" name="password" [(ngModel)]="currentUser.password" />
          <label for="password">{{ 'LABEL.PASSWORD' | translate }}</label>
        </div>
      </div>
    </form>
  </popup>

  <popup #popupEditUser (confirmClick)="editUser()">
    <form class="form-horizontal">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="id" type="text" class="validate" name="id" [(ngModel)]="currentUser.id" disabled />
          <label for="id" class="active">Id:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="firstname" type="text" class="validate" name="firstname" [(ngModel)]="currentUser.firstname" />
          <label for="firstname" class="active">{{ 'LABEL.FIRST_NAME' | translate }}: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input id="lastname" type="text" class="validate" name="lastname" [(ngModel)]="currentUser.lastname" />
          <label for="lastname" class="active">{{ 'LABEL.LAST_NAME' | translate }}: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate" name="username" [(ngModel)]="currentUser.username" />
          <label for="username" class="active">{{ 'LABEL.LOGIN' | translate }}: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input class="with-gap" name="role" type="radio" id="admin" />
          <label for="admin">Адміністратор</label>
          <input class="with-gap" name="role" type="radio" id="user" checked/>
          <label for="user">Користувач</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="currentUser.email" />
          <label for="email" class="active">{{ 'LABEL.EMAIL' | translate }}</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate" name="password" [(ngModel)]="currentUser.password" />
          <label for="password" class="active">{{ 'LABEL.PASSWORD' | translate }}</label>
        </div>
      </div>
    </form>
  </popup>

  <popup #popupDeleteUser (confirmClick)="deleteUser()">
    <form class="form-horizontal">
      <table>
        <div class="row">
          <span>Вибрати користувача: </span>
          <div class="btn-group" dropdown [dropup]="true">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    {{ currentUser.username }} <span class="caret"></span>
  </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem" *ngFor="let user of users" (click)="selectUser(user.id)">
                <a class="dropdown-item">{{ user.username }}</a>
              </li>
            </ul>
          </div>
        </div>
      </table>
    </form>
  </popup>
</div>

<div class="users">
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th data-field="id">ID</th>
        <th data-field="firstname">{{ 'LABEL.FIRST_NAME' | translate }}</th>
        <th data-field="lastname">{{ 'LABEL.LAST_NAME' | translate }}</th>
        <th data-field="username">{{ 'LABEL.LOGIN' | translate }}</th>
        <th data-field="email">{{ 'LABEL.EMAIL' | translate }}</th>
        <th data-field="role">{{ 'LABEL.ROLE' | translate }}</th>
        <th data-field="date">{{ 'LABEL.DATE_OF_REGISTER' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="rowClicked(user.id)" [ngClass]="{ checkedRow: defineStyle(user.id) }">
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.dateRegister }}</td>
      </tr>
    </tbody>
  </table>
</div>