<div class="form-box">
  <div>
    <img src="../../assets/img/signin.png" width="500" height="170" />
  </div>
  <!--<div class="head">Sign in</div>-->
  <form id="login-form">
    <div class="form-group">
      <div class='input-field col s12'>
        <input class='validate' type='email' name='email' id='email' value="root@root.com" />
        <label for='email'>Enter email</label>
      </div>
    </div>
    <div class="form-group">
      <div class='input-field col s12'>
        <input class='validate' type='password' name='password' id='password' value="1111" />
        <label for='password'>Enter password</label>
      </div>
    </div>
    <input type="submit" name='btn_login' (click)="checkForm()" class='btn btn-large waves-effect indigo' value="Sign in" />
  </form>
</div>