<div class="form-box">
  <div>
    <img src="../../assets/img/signin.png" width="500" height="170" />
  </div>
  <form id="login-form">
    <div class="form-group">
      <div class='input-field col s12'>
        <input class='validate' type='email' name='email' id='email' value="root@root.com" #email/>
        <label for='email'>{{ 'LABEL.ENTER_EMAIL' | translate }}</label>
      </div>
    </div>
    <div class="form-group">
      <div class='input-field col s12'>
        <input class='validate' type='password' name='password' id='password' value="1111" #password />
        <label for='password'>{{ 'LABEL.ENTER_PASSWORD' | translate }}</label>
      </div>
    </div>
    <input type="submit" name='btn_login' (click)="checkForm(email, password)" class='btn btn-large waves-effect indigo' value="{{ 'BUTTON.SIGN_IN' | translate }}" />
  </form>
</div>