<!-- With tabs panel -->
<nav *ngIf="isActiveTabs" class="nav-extended">
    <div class="nav-wrapper">
        <a class="brand-logo"><i class="material-icons">cloud</i>Warehouses control</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/auth"><i class="material-icons">help</i></a></li>
            <li><a href="/auth">{{ loginLabel }}</a></li>
        </ul>
    </div>

    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" routerLink="/home/warehouses">Warehouses</a></li>
            <li class="tab"><a routerLink="/home/reports">Reports</a></li>
            <li class="tab"><a routerLink="/home/settings">Settings</a></li>
        </ul>
    </div>
</nav>

<!-- Without tabs panel when user is not registered -->
<nav *ngIf="!isActiveTabs">
    <div class="nav-wrapper">
        <a class="brand-logo"><i class="material-icons">cloud</i>Warehouses control</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/auth"><i class="material-icons">help</i></a></li>
            <li><a href="/auth">{{ loginLabel }}</a></li>
        </ul>
    </div>
</nav>