<div class="row">
    <div *ngIf="selectedWarehouse" class="card-detail">
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                    <img width="100" height="140" src={{selectedWarehouse.img}} />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <button (click)="goBack()" class="btn btn- btn-danger">{{ 'BUTTON.BACK' | translate }}</button>
                        <h5 class="header">{{selectedWarehouse.name}}</h5>
                        <p><b>{{ 'LABEL.APPOINTMENT' | translate }}:</b> {{selectedWarehouse.info}}</p>
                        <p><b>{{ 'numberProductsOnTheWarehouse' | translate }}:</b>{{ amountProducts }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col s6 m3">
            <div class="card horizontal">
                <div class="card-content white-text">


                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="z-index: 2">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title activator waves-effect waves-light btn-large red">{{ 'BUTTON.VIEW_PRODUCTS_ON_THE_WAREHOUSE' | translate }}<i class="material-icons"></i></span>
            </div>

            <div class="card-image waves-effect waves-block waves-light">
                <chart class="chart" [options]="optionsTemperature" (load)="saveInstanceTemperature($event.context)"></chart>
                <chart class="chart" [options]="optionsHumidity" (load)="saveInstanceHumidity($event.context)"></chart>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ 'LABEL.PRODUCTS_ON_THE_WAREHOUSE' | translate }}<i class="material-icons right">close</i></span>
                <table class=" highlight responsive-table">
                    <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="name">{{ 'LABEL.NAME_OF_PRODUCT' | translate }}</th>
                            <th data-field="date">{{ 'LABEL.DATE_OF_MANUFACTURE' | translate }}</th>
                            <th data-field="endDate">{{ 'LABEL.SUITABLE_FOR' | translate }}</th>
                            <th data-field="price">{{ 'LABEL.PRICE' | translate }}</th>
                            <th data-field="place">{{ 'LABEL.PLACE_ON_THE_WAREHOUSE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.date }}</td>
                            <td>{{ product.endDate }}</td>
                            <td>{{ product.price }} $</td>
                            <td>{{ product.numberPlace }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>