<div *ngIf="selectedWarehouse" class="card-detail">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img width="100" height="150" src={{selectedWarehouse.img}} />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <button (click)="goBack()" class="btn btn- btn-danger">Back</button>
                    <h4 class="header">{{selectedWarehouse.name}}</h4>
                    <p>{{selectedWarehouse.info}}</p>
                    <p>Amount: {{ selectedWarehouse.amountProducts }}</p>
                </div>
            </div>
        </div>
    </div>

    <table class="highlight">
        <thead>
            <tr>
                <th data-field="id">Id</th>
                <th data-field="name">Name</th>
                <th data-field="price">Price</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>
</div>